.support-us {

    .partner_section {
        @extend .section;
    }
    .info-page-title {
        text-align: center;
        margin-bottom: 45px;
    }

    .info-page-subtitle {
        text-align: center;
        margin-bottom: 16px;
        @include text-usual(16px, $black ,center);
    }


    p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }
    .card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 45px;
    }

    .donate-widget {
        width: 100%;
    }
    .support-card {
        max-width: 380px;
        margin: auto;
        text-align: center;
        -webkit-box-pack: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 50px;

        h3 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #121212;
            margin-top: 10px;
            margin-bottom: 7px;
        }

        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #2F2F2F;
        }

        .circle {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background: #F1F1F1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .partners {
        &_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 30px;

            @include for-desktop-up() {
                flex-direction: row;
            }

            .swiper-button-prev {
                left: -5px;
            }

            .swiper-button-next {
                right: -5px;
            }

            @include for-desktop-up() {
                .swiper-button-prev {
                    left: 0px;
                }

                .swiper-button-next {
                    right: 0px;
                }
            }
        }

        &_title {
            margin-bottom: 62px;
            @include text-usual(28px, #2C2C2C, center);
            font-weight: 600;


            @include for-desktop-up() {
                @include text-usual(42px, #121212, center);
                font-weight: 600;
            }
        }

        .swiper-container {
            height: 130px;
            margin-bottom: 0;

            .slide-wrapper {
                height: auto;

                img {
                    width: 100%;
                }
            }
        }

        &_card {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }

            @include for-desktop-up() {
                margin-left: 80px;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .no-mobile {
        display: flex !important;
    }

    .mobile {
        display: none !important;
    }
}

@media all and (max-width:480px) {
    .support-card  {
        .bottom-margin {
            margin-bottom: 50px !important;
        }
    }

    .support-us {
        .no-mobile {
            display: none !important;
        }

        .mobile {
            display: flex !important;
        }
    }
}
