$white: #ffffff;
$lightgray: #F5F5F5;
$violet: #274684;
$black: #000000;
$orange: #ffbe4d;
$blue: #0074d9;
$darkgray: #2C2C2C;
$gray: #2F2F2F;
$red: #FF0000;
$green: #c0ffb0;

$theme-colors: (
        primary: $violet,
        info: $lightgray,
        approve: $green
);

