.btn-danger {
  color: #000;
}

.custom-select {
  border-radius: 0px;
  height: 42px;

  &:focus {
    outline: none;
    box-shadow: none;

  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}