// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Typography
$font-family-primary: 'Open Sans', sans-serif;
$font-title-color: $darkgray;
$font-family-heading: 'Montserrat', sans-serif;


// Home page section titles
$font-size-title-sm: 28px;
$font-size-title-md: 28px;
$font-size-title-lg: 42px;

$title-margin-sm: 30px;
$title-margin-md: 30px;
$title-margin-lg: 60px;

// Card titles

$font-size-title-card-sm: 20px;
$font-size-title-card-md: 20px;
$font-size-title-card-lg: 20px;

$title-margin-card-sm: 12px;
$title-margin-card-md: 12px;
$title-margin-card-lg: 12px;

//Top menu

$font-size-top-menu-sm: 14px;
$font-size-top-menu-md: 20px;
$font-size-top-menu-lg: 20px;


//Top menu slogan

$font-size-menu-slogan-sm: 40px;
$font-size-menu-slogan-md: 40px;
$font-size-menu-slogan-lg: 48px;

$font-size-margin-slogan-sm: 30px;
$font-size-margin-slogan-md: 30px;
$font-size-margin-slogan-lg: 60px;


