body {
    background: $white;
}

a {
    text-decoration: none;
    @include text-usual(inherit, $violet, center);
    font-weight: inherit;
    &:focus {
        outline: none;
    }
}

.section {

    padding-top: 40px;
    padding-bottom: 80px;

    @include for-desktop-up {
        padding-top: 85px;
        padding-bottom: 105px;
    }

    .pagination_wrapper {
        width: 100%;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

.content {
    min-width: $min-breakpoint-width;

    min-height: calc(100vh - #{$footer_height} - #{$header_height});
}

.content-wrapper {

    min-width: $min-width;
    max-width: $max-width;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;

    @include for-desktop-up {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @include for-desktop-up {
        flex-direction: row;
        align-items: flex-start;
    }
}

.button-subtitle {
    @include button-text(18px, $black);
    margin: 0px auto 10px;
}


.is-invalid {
    border: 2px solid $red !important;
}

.volunteering-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url("/images/volunteering.svg") 100% 100% no-repeat;
    display: block;
}

.internship-icon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    background: url("/images/internship.svg") 100% 100% no-repeat;
    display: block;
}

.job-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url("/images/job.svg") 100% 100% no-repeat;
    display: block;
}

span + .job-icon {
    margin-left: 5px;
}
