body {
    background: $white;
    min-width: 320px;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    @include text-usual(inherit, $violet, center);
    font-weight: inherit;
    &:focus {
        outline: none;
    }
}

.note-editor {
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    ul ul, ol ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
    }
    ol ol, ul ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
    }
}

.raw-text {
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    ul ul, ol ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
    }
    ol ol, ul ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
    }
}

.section {

    padding-top: 60px;
    padding-bottom: 80px;

    @include for-desktop-up {
        padding-top: 85px;
        padding-bottom: 105px;
    }

    .pagination_wrapper {
        width: 100%;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &_gray {
        background-color: rgba(205, 217, 222, 0.1);
    }
}

.content {
    min-width: $min-breakpoint-width;

    min-height: calc(100vh - #{$footer_height} - #{$header_height});
}

.content-wrapper {

    min-width: $min-width;
    max-width: $max-width;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;


    @include for-desktop-up {
        padding-right: 0px;
        padding-left: 0px;
        overflow: unset;

    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @include for-desktop-up {
        flex-direction: row;
        align-items: flex-start;
    }
}

.button-subtitle {
    @include button-text(18px, $black);
    margin: 0px auto 10px;
}


.is-invalid {
    border: 2px solid $red !important;
}

.volunteering-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url("/images/volunteering.svg") 100% 100% no-repeat;
    display: block;
    margin-top: 5px;
}

.internship-icon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    background: url("/images/internship.svg") 100% 100% no-repeat;
    display: block;
    margin-top: 5px;
}

.job-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url("/images/job.svg") 100% 100% no-repeat;
    display: block;
    margin-top: 5px;
}

span + .job-icon {
    margin-left: 5px;
}


#overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99998;
    width: 100%;
    height: 100%;
    display: none;
}

#modal_container {
    width: 100%;
    min-width: 310px;
    height: auto;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;

    @include for-desktop-up() {
        width: 30vw;
        left: calc(50% - 15vw);
        right: calc(50% - 15vw);
        top: 110px;
    }




    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    z-index: 99999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
    border-radius: 4px;


}

#modal_container p {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #000000;
    line-height: 150%;
    font-size: 16px;
    margin-top: 15px;
}

.modal_button {
    float: left;
    margin: 20px 20px 0 0;
    padding: 14px 25px;
    border-radius: 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal_dialog,
.modal_header,
.modal_body,
.modal_footer {
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal_body,
.modal_header {
    padding: 5px 20px 15px;

    @include for-desktop-up() {
        padding: 20px;
    }
}

.close_button {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 2px;
    cursor: pointer;
}

.close_button:hover {
    opacity: 0.8;
}

.modal_form {
    float: left;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0px;
}

.input_labl {
    text-align: left;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #000000;
    line-height: 150%;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.modal_inpt_wrapper {
    display: flex;
}

.modal_inpt {
    height: 42px;
    max-width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8ECEE;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
    padding: 3px 20px;
    max-width: 200px;

    outline: none;
}

.input_chck_ctn {
    color: #fff;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.btn-full {

    color: #ffffff;
    background: #F87633;
    outline: none;
    max-width: 140px;
    height: auto;
    min-height: 42px;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition-duration: 0.2s;
    transition-property: background-color;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.15;
    margin: 0;
}
