.header {

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}
.bg-1 {
  background-image: url("/images/header.png");
}
.bg-2 {
  background-image: url("/images/header2.png");
  height: 236px;
}
.bg-3 {
  background-image: url("/images/header3.png");
}
.search-wrapper {
  text-align: center;
  margin: auto;

  .title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
    color: #FFFFFF;
  }

  .search-box {
    margin-top: 45px;
    width: 644px;
    height: 56px;

    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
  }

  .search-example {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .search-input {
    height: 56px;
    border-radius: 0;
    border: none;
    outline: none;
    padding-left: 40px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #B0B0B0;
    }
  }

  .btn-search {
    width: 56px;
    height: 56px;
    font-size: 30px;
    font-weight: normal;
    border-radius: 0px !important;
  }

  .category-dropdown {
    width: 172px;
    height: 56px;
    border: none;
    background: #FFFFFF;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2F2F2F;
    border-radius: 0;
    padding: 17px;
    text-align: left;

    &::after {
      content: url("/images/category-arrow-left.svg");
      border: none;
      top: 15px;
      right: 14px;
      position: absolute;
    }
    &:focus {
      background: #FFFFFF;
      color: #2F2F2F;
    }


    &:not(:disabled):not(.disabled):active {
      background: #FFFFFF;
      color: #2F2F2F;
    }
    &.dropdown-toggle {
      background: #FFFFFF;
      color: #2F2F2F;
    }


  }

  .dropdown {
    z-index: 1;
    position: relative;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    &.show > .btn-secondary.dropdown-toggle {
      &::after {
        content: url("/images/category-arrow-down.svg");
        border: none;
        top: 15px;
        right: 14px;
        position: absolute;
      }
    }
    .dropdown-menu.show {
      display: block;
      margin: 0;
      border: none;
      border-radius: 0px;
      width: 172px;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }

    .dropdown-item {

      font-family: 'Open Sans', Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      padding-left: 17px;
      color: #2F2F2F;
      &:hover {
        color: #274684 !important;
        background-color: #ffffff;
      }
      a {
        font-family: 'Open Sans', Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        color: #2F2F2F;
      }
    }
  }
}

.navbar {
  height: 70px;
  background: rgba(18, 18, 18, 0.6) !important;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
.navbar-nav .nav-link {
  margin-left: 23px;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (min-width: 321px) {
  .container {
    min-width: 960px;
  }
  .container-fluid {
    min-width: 960px;
  }
  .header{
    min-width: 960px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 320px;
    overflow-x: hidden;
  }
  .container-fluid {
    width: 320px;
    overflow-x: hidden;
  }
  .header{
    width: 320px;
    overflow-x: hidden;
  }
}