//Colors
$white: #ffffff;
$lightgray: #F5F5F5;
$violet: #274684;
$black: #000000;
$orange: #F87633;
$blue: #0074d9;
$darkgray: #2C2C2C;
$gray: #2F2F2F;
$red: #FF0000;
$yellow: #ffbe4d;

$header-height: 70px;
$footer-height: 200px;

$whiteselect: #B0B0B0;

// Blocks dimensions

$min-width: 290px;
$min-breakpoint-width: 320px;
$max-width: 960px;