.button {

  width: 100%;
  max-width: 362px;
  height: auto;
  min-height: 48px;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding-right: 34px;
  padding-left: 34px;
  margin-bottom: 10px;
  transition-duration: 0.2s;
  transition-property: background-color;
  box-sizing: border-box;

  @include for-tablet-portrait-up() {
    width: auto;
  }

  &:focus {
    outline: none;
  }


  &:disabled {
    background: #c0c0c0;
    cursor: unset;

    &:hover {

    }
  }

  &.loading {
    cursor: unset;
    background: #c0c0c0;
    transform: unset;
    opacity: 70%;

    span {
      display: none;
    }

    .loading-icon {
      background: url(/images/loading-button.svg) center center no-repeat;
      display: block;
      margin: auto;
      width: 40px;
      height: 40px;
      margin-top: 3px;
    }
  }

  .loading-icon {
    display: none;
  }


  span {
    display: block;
    margin: auto;
    @include button-text(18px, inherit);
  }


  &-primary {
    @extend .button;

    color: $white;
    background: $orange;
    &:hover {
      //background-color: #eca72f;
    }
  }

  &-secondary {
    @extend .button;
    color: $white;
    background: $violet;
  }

  &-info {
    @extend .button;
    color: $white;
    background: #3DA1DA;
    width: 219px;
    height: 48px;
    span {
      font-size: 14px;
    }
    margin-left: 0;
    margin-bottom: 70px;
    margin-top: 24px;
  }

}







