.swiper-container {
  width: 90%;
  max-width: 805px;
  height: 275px;
  margin-bottom: 30px;
}

.swiper-button {


  &:focus {
    outline: none;
  }
}

.swiper-button-next {
  @extend .swiper-button;

  &:after {
    content: url(/images/arrow-right.svg);
    color: $violet;
  }
}

.swiper-button-prev {
  @extend .swiper-button;

  &:after {
    content: url(/images/arrow-left.svg);
    color: $violet;
  }
}

.swiper-slide {
  display: flex;
}

.slide {

  &-wrapper {
    display: flex;
    height: 275px;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &-header {
    @include image-adaptive(160px, 180px);

    &-image {
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }

  &-name {
    @include text-usual(14px, $black, left);

    padding-top: 9px;
  }

  &-role {

    @include text-usual(14px, $black, left);
    padding-bottom: 9px;
    font-weight: bold;
  }

  &-social {
    display: flex;
    flex-direction: row;
  }
}