#app-admin {
  .container-fluid {
    overflow-x: visible;
  }
  .uper {
    table {
      border-collapse: unset;
    }

    td {
      padding: 0.5rem;
      word-break: break-word;
    }

    .id {
      word-break: normal;
    }

    .type {
      word-break: normal;
    }

    .phone {
      word-break: normal;
    }

    .unp {
      word-break: normal;
    }
  }
}

.sidebar-wrapper {
  padding: 0;
  max-width: 250px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #274684 !important;
  border-color: #274684 !important;
  box-shadow: inset 3px 4px 5px -2px rgba(0,0,0,1);
}
.list-group-item.active:hover {
  color: #000;
}

.items-wrapper {
  min-width: 1000px;
}