.filter {

  &_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include for-desktop-up {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &_mobile-button {
    width: 30px;
    height: 30px;
    background: url(/images/filter-down.svg) 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;

    position: absolute;
    top: 40px;
    right: 15px;

    @include for-desktop-up() {
      display: none;
    }

      &.open {
        background: url(/images/filter-up.svg) 100% 100% no-repeat;
        background-size: cover;
      }
  }

  &_wrapper {
    display: flex;



    @include for-desktop-up() {
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
      padding: 20px 0px 15px;
    }
    padding: 40px 0px 15px;
    background: #fff;
    max-height: 80px;

    &.open {
      max-height: 1000px;
      transition: max-height 0.3s ease-in;
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);

      .filter_form {
        justify-content: space-around;
      }


      .filter_form-group {

        margin-right: 15px;
        margin-left: 15px;


        &:nth-child(2){
          label {
            display: block;

          }
          display: none;


          margin-right: 15px;
          margin-top: 25px;
        }
        &:nth-child(3){
          label {
            display: block;
          }

          margin-right: 15px;
          margin-top: 40px;
        }


        @include for-tablet-portrait-up() {
          &:nth-child(3){
            margin-top: 55px;
          }

          &:nth-child(4){
            margin-top: 40px;
          }
        }

      }
    }

    overflow: hidden;
    transition: max-height 0.3s ease-out;

    @include for-desktop-up {
      display: flex;
      max-width: 240px;
      width: 240px;
      padding: 32px 23px 14px;
      max-height: unset;
    }
  }

  &_form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;

    margin-left: 15px;
    margin-right: 15px;

    @include for-desktop-up() {
      margin-left: 25px;
      margin-right: 25px;
    }


    min-height: 50px;
    max-width: 290px;
    width: 100%;

    &:nth-child(2){
      label {
        display: none;

        @include for-desktop-up() {
          display: block;
        }
      }

      margin-right: 65px;

      @include for-desktop-up() {
        margin-right: 0px;
      }
    }

    &:nth-child(3){
      label {
        display: none;
        @include for-desktop-up() {
          display: block;
        }
      }

      margin-right: 83px;
      @include for-desktop-up() {
        margin-right: 0px;
      }
    }

    @include for-desktop-up() {
      min-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 33px;
    }

    .custom-select {
      width: 100%;
    }

    .custom-select-search {
      width: 100%;
    }

    &-input {
      height: 38px;
      width: 100%;
      margin-left: 10px;
      margin-right: 15px;
      background: #FFFFFF;
      border: 1px solid #E8ECEE;
      box-sizing: border-box;
      border-radius: 0px;

      @include text-usual(14px, $black, left);
      padding: 3px 10px;

      @include for-tablet-portrait-up() {
        margin-left: 10px;
        margin-right: 20px;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        @include text-usual(14px, #cccccc, left);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-label {
      @include text-usual(14px, #2F2F2F, left);
      font-weight: bold;
      margin-bottom: 5px;
      min-height: 14px;
      @include for-desktop-up() {
        min-height: 0px;
        margin-bottom: 14px;
      }

    }

    &-delimeter {
      @include text-usual(14px, #2F2F2F, left);
      font-weight: bold;
      margin-bottom: 4px;
    }

    &-inline {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    &-select ~ span {
      height: 38px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #E8ECEE;
      box-sizing: border-box;
      border-radius: 0px;
      display: flex;
      align-items: center;

      @include text-usual(14px, $black, left);
      line-height: 200%;
      padding: 3px 20px;

      &:focus {
        outline: none;
      }
    }

    &-radio-label {
      @include text-usual(14px, #2F2F2F, left);

      &:before {
        left: 0px;
        width: 18px;
        height: 18px;
        border: 1px solid #B0B0B0;
        box-sizing: border-box;
        top: 2px;
        border-radius: 50%;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: absolute;
        display: block;
        pointer-events: none;
        content: "";
        background-color: #fff;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        content: "";
      }
    }

    &-radio {
      padding-left: 30px;
      margin-bottom: 8px;
      position: relative;

      &-inline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 80px;
        align-items: flex-start;
        width: 100%;

        @include for-desktop-up () {
          max-height: unset;
          flex-wrap: nowrap;
        }
      }
    }

    &-radio-input {
      box-sizing: border-box;
      padding: 0;
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked ~ .filter_form-group-radio-label::before {
        background: $violet;
        width: 18px;
        height: 18px;
        border: 1px solid #B0B0B0;
        box-shadow: none;
        box-sizing: border-box;
      }
    }

    &-checkbox-label {
      @include text-usual(14px, #2F2F2F, left);
    }

    &-checkbox {
      padding-left: 30px;
      margin-bottom: 8px;
      position: relative;

      &-inline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 80px;
        align-items: flex-start;
        width: 100%;

        @include for-desktop-up () {
          max-height: unset;
          flex-wrap: nowrap;
        }
      }



      &-indicator {
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #B0B0B0;
        box-sizing: border-box;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          transition: 0.3s;
          width: 10px;
          border-right: 7px solid #fff;
          border-radius: 3px;
          transform: rotateZ(45deg) scale(1);
          top: -4px;
          left: 5px;
          opacity: 0;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          transition: 0.3s;
          transform: rotateZ(90deg) scale(0);
          width: 10px;
          border-bottom: 4px solid #274684;
          border-right: 4px solid #274684;
          border-radius: 3px;
          top: -2px;
          left: 2px;
        }
      }
    }

    &-checkbox-input {
      display: none;

      &:checked ~ .filter_form-group-checkbox-indicator {
        &:before {
          opacity: 1;
        }
        &:after {
          transform: rotateZ(45deg) scale(1);
          top: -6px;
          left: 5px;
        }
      }
    }
  }
}

